/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

html {
 font-size: 16px;

}
body {
  line-height: 1.618em;
  background: #ffffff;
  font-family: 'Merriweather Sans', sans-serif;
  color: #212121;
}
p {
  margin: 1em auto 1em auto;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
  margin: .618em 0 .618em 0;
  line-height: 1.618em;
}
h1 {
  font-size: 1.618em;
}
h2 {
  font-size: 1.618em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #212121;
  border-bottom: solid 1.5px #43a047;

}
a:visited {
  text-decoration: none;
  color: #212121;
}
a:hover {
  color: #43a047;
}
span {
  color: #43a047;
}

header{
  padding: 1em 1.618em 1.618em 1.618em;
  border-bottom: solid 1px #BDBDBD;
  background: #FAFAFA;
  h1 {
    a{
      border-bottom: none;
    }
    a:hover {
      color: #212121;
    }
  }
}
section {
  padding: 4.236em 1em 4.236em 1em;
}
article {
  box-shadow: 0px 1px 2px 0px rgba(189,189,189,1);
  background: #FAFAFA;
  padding: 2.618em 1em 4.236em 1em;
}
footer {
  background: #fafafa;
  padding: 1.618em 1.618em 1.618em 1.618em;
  border-top: solid 1px #BDBDBD;
}
#action{
  background: #f5f5f5;
  #list-wrapper{
    table{
      font-size: .8em;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      tr{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
.center-text{
  text-align: center;
}

.has-button{
  text-align: center;
  a{
    border-radius: 2px;
    padding: .618em;
    border: none;
    background: #1e88e5;
    color: #ffffff;
  }
  a:hover {
    background:#005cb2;
  }
}
input, textarea {
  font-family: inherit;
  font-size: 1em;
  border  : none;
  background: #FAFAFA;
  border: solid 1px #E0e0e0;
  width : 100%;
  padding: .382em;
  margin: .618em 0 .618em 0;
  box-shadow: 0px 1px 2px 0px rgba(189,189,189,1);
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}
input:focus, textarea:focus {
  box-shadow: 0px 4px 4px 1px rgba(189,189,189,1);
}
input[type=submit] {
  padding: .618em;
  width: 4.236em;
  border: none;
  border-radius: 2px;
  background: #1e88e5;
  color: #ffffff;
}
input[type=submit]:hover {
background:#005cb2;
}
textarea {
  height  : 360px;
  resize  : none;
  overflow: auto;
}
li {
  display: inline;
}
@media (min-width: 500px) {
  header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  section{
    width: 29.03em;
    margin: 1em auto 1em auto;
  }
}
@media (min-width: 900px) {
  section{
    width: 46.971em;
  }
}
